<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/test.css">

        <script src="/static/test.js">       
        </script>
    </head>
    <body>
    <div class="container">
        <div id="title">
            <h1>Group projet sign-up</h1>
        </div>

        {%with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}


        <div id="signupForm">
        <p>Enter your student number</p>

        <form action="/submit" method="post">
            {{ form.hidden_tag() }}

            {{ form.groupSize.label  }}
            {{ form.groupSize }}
            <br>
            {{ form.student1.label  }}
            {{ form.student1 }}
            <br> 
            {{ form.student2.label  }}
            {{ form.student2 }}
            <br>
            {{ form.student3.label  }}
            {{ form.student3 }}
            <br>  
            {{ form.student4.label  }}
            {{ form.student4 }}
            <br>
            {{ form.submit() }}            
        </form>
    </div>

        Kick out:
        <button type="button" class="btn btn-default stname ejectButton" onclick="ejectstudent()">
            <span class="glyphicon glyphicon-search"></span>Eject
        </button>

        <button class="btn btn-danger" onclick="location.href='{{ url_for('groups')}}'">   
            <span class="fa fa-trash"></span>Cancel
        </button>
    </div>
    </body>

</html>