
#title {
    display: flex;
    justify-content: center;
}

#signupForm {
    background-color: rgb(0, 238, 227);
}

#existingGroup {
    background-color: pink;
}


td >span:hover{
    font-size: large;
}

.stname:hover {
    font-weight: 800;
}

.ejectButton {
    background-color: chartreuse;
}

label {
    color:orange;
}

form:hover {
    color: green;
}

#submitBtn {
    position: relative;
    left:240px;
    bottom:106px;
}

h1 {
    width: 400px;
    background:blue;
    margin:auto;
    text-align: center;
}
